CharRunner/Connected Services/MessageSvc/RestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50598/RestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CharRadiology" />
  <xs:import schemaLocation="http://localhost:50598/RestService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CharRadiology" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CharRadiology" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageProcessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q3:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageProcessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="MessageProcessorResult" nillable="true" type="q4:MessageReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="Search" nillable="true" type="q5:GenericData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="StateListResult" nillable="true" type="q6:ArrayOfState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPinEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q7:PinEntryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPinEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="GetUserPinEntryResult" nillable="true" type="q8:PinEntryReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q9:PinEntryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="GetCustomerInfoResult" nillable="true" type="q10:PinEntryReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustQA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q11:QAData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustQAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="SaveCustQAResult" nillable="true" type="q12:SurveyReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q13:ProfileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="SaveCustResponseResult" nillable="true" type="q14:SurveyReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTestingRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q15:TestingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTestingRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="UpdateTestingRecordsResult" nillable="true" type="q16:MessageReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q17:PinEntryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponseCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="GetResponseCodeResult" nillable="true" type="q18:ResponseCodeReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommunication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q19:TestingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommunicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CharRadiology.Core.Models" minOccurs="0" name="GetCommunicationResult" nillable="true" type="q20:CommunicationReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>