EnvoyService.Core/Web References/AddrService/RestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AddrStnd" />
  <xs:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AddrStnd.Core.Models" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AddrStnd" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AddrStnd" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStndAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AddrStnd.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q3:AddrStndData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStndAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AddrStnd.Core.Models" minOccurs="0" name="GetStndAddressResult" nillable="true" type="q4:AddrStndReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AddrStnd.Core.Models" minOccurs="0" name="chkUser" nillable="true" type="q5:GeoCodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeoCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AddrStnd.Core.Models" minOccurs="0" name="GetGeoCodeResult" nillable="true" type="q6:GeoCodeReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>