EnvoyService.Core/Web References/AddrService/RestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AddrStnd" />
      <xsd:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AddrStnd.Core.Models" />
      <xsd:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AddrStnd.Core.Enums" />
      <xsd:import schemaLocation="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc?xsd=xsd5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetStndAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStndAddress" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetStndAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStndAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetGeoCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoCode" />
  </wsdl:message>
  <wsdl:message name="IRestService_GetGeoCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeoCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetData" message="tns:IRestService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetDataResponse" message="tns:IRestService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetDataUsingDataContract" message="tns:IRestService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetDataUsingDataContractResponse" message="tns:IRestService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStndAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetStndAddress" message="tns:IRestService_GetStndAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetStndAddressResponse" message="tns:IRestService_GetStndAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeoCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestService/GetGeoCode" message="tns:IRestService_GetGeoCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestService/GetGeoCodeResponse" message="tns:IRestService_GetGeoCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRestService" type="tns:IRestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IRestService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IRestService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStndAddress">
      <soap:operation soapAction="http://tempuri.org/IRestService/GetStndAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeoCode">
      <soap:operation soapAction="http://tempuri.org/IRestService/GetGeoCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestService">
    <wsdl:port name="BasicHttpBinding_IRestService" binding="tns:BasicHttpBinding_IRestService">
      <soap:address location="http://restservices.concinnitymarketing.biz/AddrStndService/RestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>